@model GIP1.Web.Entities.Les

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Les</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lesnaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lesnaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LokaalcodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LokaalcodeNavigation.Lokaalcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanningcodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanningcodeNavigation.Planningcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VakcodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VakcodeNavigation.Vakcode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
